<html>

<head>
    <title>NM-devHomework-ionic-01</title>
</head>

<body>

    <script src="https://unpkg.com/vue@3"></script>

    <div id="app">
        <main>
            <div id="movies-filter">
                <input v-model="filterText" placeholder="Filter movies.." />
            </div>
            <div id="movie-list">
                <h2>Movies</h2>
                <div v-for="m in movies">
                    <h3>{{m.title}}</h3>
                    <div>{{ m.shortDesc }}</div>
                </div>
            </div>
        </main>
    </div>

    <script>
        const { createApp } = Vue

        createApp({
            data() {
                return {
                    message: 'Hello Vue!',
                    filterText: '',
                    movies: [
                        { title: 'Apple', shortDesc: 'Short description of this movie.' },
                        { title: 'Watermelon', shortDesc: 'Another short description..' },
                    ],
                }
            }
        }).mount('#app')
    </script>

</body>

</html>
