<html>

<head>
    <title>NM-devHomework-ionic-01</title>
</head>

<body>

    <script src="https://unpkg.com/vue@3"></script>

    <div id="app">
        <main>
            <div id="movies-filter">
                <input v-model="filterText" placeholder="Filter movies.." />
            </div>
            <div id="movie-list">
                <h2>Movies</h2>
                <div v-for="m in filteredMovies">
                    <h3>{{m.title}}</h3>
                    <div>{{ m.shortDesc }}</div>
                </div>
            </div>
        </main>
    </div>

    <script>
        const { createApp, computed } = Vue;

        createApp({
            data() {
                return {
                    message: 'Hello Vue!',
                    filterText: '',
                    movies: [
                        { title: 'Apple', shortDesc: 'Short description of this movie.' },
                        { title: 'Watermelon', shortDesc: 'Another short description..' },
                    ],
                    filteredMovies: computed(() => {
                        const t = this.filterText.trim();

                        // Return all `movies` if filter text is falsy.
                        if (!t) return this.movies;

                        // Apply filter
                        const p = new RegExp(this.filterText, 'i');
                        return this.movies.filter((m) => {
                            return m.title.match(p);
                        });
                }),
                };
            }
        }).mount('#app')
    </script>

</body>

</html>
